body {
  width: 100vw;
  padding-top: 50px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bordered {
  border: 1px solid black;
}
#legend {
  margin-top: 100px;
}
.legendCells {
  display: flex;
}
